@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-button {
    @apply bg-transparent hover:text-white ease-in duration-200 py-10 px-4 border-blue-500 hover:border-transparent text-3xl;
  }
}

@font-face {
  font-family: "Startrekfuture";
  src: url("/assets/fonts/star-trek-future-font/Startrekfuture-EK6e.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.star-trek {
  font-family: "Startrekfuture", sans-serif;
}

@font-face {
  font-family: "Roddenberry";
  src: url("/assets/fonts/roddenberry-font/Roddenberry-DgLm.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.roddenberry {
  font-family: "Roddenberry", sans-serif;
}

.projects-container {
  position: relative;
  max-height: calc(100vh - 125px);
  overflow-y: auto;
}

.projects-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.projects-container::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.projects-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #6d6a6a;
}

.nav_active.active{
  text-decoration: underline;
  text-underline-offset: 8px;
}